h3 #{friend.username}
  small.chat__close x
ul.chat__messages
  - for (var i=messages.length-1; i>=0; i--)
    if messages[i].from == user.id
      li.chat__msg.chat__msg--you #{messages[i].message}
    else
      li.chat__msg.chat__msg--other #{messages[i].message}
div.chat__compose(contenteditable='true' placeholder='Send a message')
