div.fixed
  nav.top-bar(role='navigation', data-topbar)
    ul.title-area
      li.name
        h1
          a(href='/') Poker
      li.toggle-topbar.menu-icon
        a(href='#')
          span Menu
    section.top-bar-section
      ul.right
        li: a(href='/') Tables
        li: a(href='/')  Settings
        li: a(href='/')  Terms