div.fixed
  nav.top-bar(role='navigation', data-topbar)
    ul.title-area
      li.name
        a(href='/')
          div.title-brand
      li.toggle-topbar.menu-icon
        a(href='#')
          span Menu
    section.top-bar-section
      ul.right
        li: a(href='/tables') Tables
        li
          a(href='/account') #{user.username}: 
            span#Chips $#{user.chips}
            span.label Friend requests: #{incomingFriendReq}
        if loggedIn
          li: a(href='/logout') Log out
        else
          li: a(href='/') Log in