extends ./layout

block content
  div.row
    div.small-12.column
      h1 Account Placeholder
      p Current Balance is: 
      button(class='btn', onclick='topup') Top Up Balance
  
  script(type='text/javascript').  
    function topup() {
      $('.btn').on('click', function() {
        event.preventDefault();
        $.ajax( {
          type: 'POST',
          url: '/account',
          data: {
            element: document.getElementById('sessionID')
          },
          success: function(data) {
            location.reload();
          },
          error: function(e) {
            console.log(e.message);
          }
        });
        return false;
      });
    });