extends ./layout

block content
  div.row
    div.small-12.column
      h1 Account Placeholder
      p Current Balance is: 
      button(class='btn', data-action='topup') Top Up Balance
  
  script(type='text/javascript').  
    $(document).ready(function() {
      $('.btn').on('click', function() {
        //- event.preventDefault();

        $.ajax( {
          type: 'POST',
          url: $(this).attr('href'),
          complete: function() {
            location.reload();
          }
        });
        return false;
      });
    });