extends ./layout

block content
  div.row
    div.small-12.column
      h1 Database Test
      form
        div.row
          div.small-12.column
            label New User
              input#User(type='text', placeholder='Enter a name')
        button Add User

      h2 User List
      ul
      - each user in users
        li #{user.name}&nbsp;
          a(href='/db/'+user._id, class='delete-btn') Delete

  script(type='text/javascript').
    $('form').submit(function(){
      $.ajax( {
        type: 'POST',
        url: '/db',
        data: {
          name: $('#User').val()
        },
        complete: function() {
          location.reload();
        }
      });
      return false;
    });

    $(document).ready(function() {
      $('.delete-btn').on('click', function() {
        event.preventDefault();

        $.ajax( {
          type: 'DELETE',
          url: $(this).attr('href'),
          complete: function() {
            location.reload();
          }
        });

        return false;
      });
    });