extends ./layout

block content
  div.home-bg
    div.row
      div.small-6.small-centered.column.home__box
        h1 Recover Details
        form#Recovery
          div.row
            div.small-12.column
              label Email
                input(name='email' type='email' required placeholder='Email')
          div.row
            div.small-12.column
              ul.button-group
                li: button.button.small Recover Username and Password

  script(type='text/javascript').
    $(document).ready(function() {
      $('#Recovery').on('submit', function(event) {
        event.preventDefault();
        data = formToJSON($(this));;
        $.ajax({
          type: 'POST',
          url: '/forgotDetails',
          data: {
            data: data
          }
        })
        .done(function(data) {
          if(data.errors.length == 0) {
            alert("Successfully sent recovery email");
            window.location.href = '/';
          }
          else{
            showErrors($('#Recovery'), data.errors);
          }
        });

      });
    });
