extends ./layout

block content
  div.row
    div.small-12.column
      h1= title
      p Welcome to #{title}
      p
        a(href="/db") Database Test
      p
        a(href="/socket") Socket.io Test
