extends ./layout

block content
  div.row
    div.small-12.column
      h1 Poker Pros
      p
        a(href="/db") Database Test
      p
        a(href="/socket") Socket.io Test
      p
        a(href="/poker") Play as a Guest
