doctype html
html
  head
    title= title
    //- CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700')
    link(rel='stylesheet', href='/stylesheets/footable.standalone.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/modernizr.js')
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js')
    script(src='https://cdn.socket.io/socket.io-1.3.7.js')
    script(src='https://code.highcharts.com/highcharts.js')
    script(src='/js/footable.min.js')
    script(src='/js/script.js')

  body
    include ./layouts/header
    block content

    if loggedIn
      include ./layouts/chat

    script.
      $(document).foundation();
      window.onload = function() {
        setTimeout(function() {
          new Image().src = "/img/black-felt.png";
          new Image().src = "/img/clubs-l.png";
          new Image().src = "/img/diamonds-l.png";
          new Image().src = "/img/hearts-l.png";
          new Image().src = "/img/spades-l.png";
          new Image().src = "/img/back.png";
        }, 1000);
      };
