extends ./layout

block content
  div.row
    div.small-12.column
      h1 Log in
      form#Log_in
        div.row
          div.small-12.column
            input#Username(name='username' type='text' required placeholder='Enter a username')
        div.row
          div.small-12.column
            input#Password(name='password' type='password' required placeholder='Enter your password')
        div.row
          div.small-12.column
            button.button Submit

  script(type='text/javascript'). 
    $(document).ready(function() {
      $('#Log_in').on('submit', function(event) {
        event.preventDefault();

        data = formToJSON($(this));

        $.ajax({
          type: 'POST',
          url: '/signup',
          data: {
            data: data
          }
        })
        .done(function(data) {
          if(data.errors.length == 0) {
            window.location.href = '/account';
          }
          else{
            showErrors($('#Sign_up'), data.errors);
          }
        });

      });
    });