extends ./layout

block content
  div.row
    div.small-6.column
      h1 Table
      h3 Players
      ol#Players
        - for(var i=0; i<9; i++)
          li Empty
          
    div.small-6.column
      h3 Community Cards
        p#Community_Cards None
      h3 Your Cards
        p#Player_Cards None
        button#Check Check
      h3 Winner
        p#Winner No one

  script(type='text/javascript').
    var socket = io('/poker');
    var playerID;

    socket.on('player join', function(player) {
      $('#Players').children().eq(player.seat).text(player.name);
    });

    socket.on('players', function(players) {
      $('#Players').children().each(function(id) {
        if (players[id]) {
          $(this).text(players[id].name);
        }
      });
    });

    socket.on('player leave', function(seat) {
      $('#Players').children().eq(seat).text('Empty');
    });

    socket.on('player cards', function(cards) {
      $('#Player_Cards').text(cards.join(' '));
    });

    socket.on('community cards', function(cards) {
      $('#Community_Cards').text(cards.join(' '));
    });

    socket.on('reset', function() {
      $('#Player_Cards').text('None');
      $('#Community_Cards').text('None');
      $('#Winner').text('None');
    });

    socket.on('winner', function(player) {
      if (playerID == player.id) {
        $('#Winner').text('You Win! - '+player.hand.handName);
      }
      else {
        $('#Winner').text(player.name+' - '+player.hand.handName);
      }
    });

    socket.on('player id', function(id) {
      playerID = id;
    });

    socket.on('turn', function(player) {
      playerID = id;
    });

    $(document).ready(function() {
      $('#Check').on('click', function() {
        console.log('check');
        socket.emit('action', { action: 'check' });
        //- $(this).addClass('hide');
      });
    });