extends ./layout

block content
  div.row
    div.small-6.column
      h1 Table
      h3 Players
      ol#Players
        - for(var i=0; i<9; i++)
          li Empty
          
    div.small-6.column
      h3 Community Cards
        p#Community_Cards None
      h3 Your Cards
        p#Player_Cards None
        button#Check Check
        button#Fold Fold
      h3 Winner
        p#Winner No one

  script(type='text/javascript').
    var socket = io('/poker');
    var playerID;

    socket.on('player join', function(player) {
      $playerEl = $('#Players').children().eq(player.seat);
      $playerEl.text(player.name);
      $playerEl.addClass('poker__players--folded');
    });

    socket.on('players', function(players) {
      $('#Players').children().each(function(id) {
        if (players[id]) {
          $(this).text(players[id].name);
          if (!players[id].inHand) {
            $(this).addClass('poker__players--folded');
          }
        }
        else{
          $(this).addClass('poker__players--folded');
        }
      });
    });

    socket.on('players in hand', function(players) {
      $.each(players, function(id, player) {
        $('#Players').children().eq(player.seat).removeClass('poker__players--folded');
      });
    });

    socket.on('player leave', function(seat) {
      $('#Players').children().eq(seat).text('Empty');
    });

    socket.on('player cards', function(cards) {
      $('#Player_Cards').text(cards.join(' '));
    });

    socket.on('community cards', function(cards) {
      $('#Community_Cards').text(cards.join(' '));
    });

    socket.on('reset', function() {
      $('#Player_Cards').text('None');
      $('#Community_Cards').text('None');
      $('#Winner').text('None');
      $('Button').prop('disabled', false);
      $('.poker__players--active').removeClass('poker__players--active');
      $('#Players').children().addClass('poker__players--folded');
    });

    socket.on('fold', function(player) {
      $('#Players').children().eq(player.seat).addClass('poker__players--folded');
    });

    socket.on('turn', function(player) {
      $('.poker__players--active').removeClass('poker__players--active');
      $('#Players').children().eq(player.seat).addClass('poker__players--active');
    });

    socket.on('winner', function(player) {
      var text = '';
      if (playerID == player.id) {
        text += 'You Win!';
      }
      else {
        text += player.name;
      }

      if(player.hand) {
        text += ' - '+player.hand.handName;
      }
      $('#Winner').text(text);
    });

    socket.on('player id', function(id) {
      playerID = id;
    });

    $(document).ready(function() {
      $('#Check').on('click', function() {
        socket.emit('action', { action: 'check' });
      });
      $('#Fold').on('click', function() {
        socket.emit('action', { action: 'fold' });
        $('Button').prop('disabled', true);
      });
    });