extends ./layout

block content
  div.home-bg
    div.row
      div.small-6.small-centered.column.home__box
        h1 Reset Password
        p The link you have followed is invalid or has expired, to request a password reset follow the link below.
        div.row
            div.small-12.column
              a.button(href="/forgotDetails") Forgot Username or Password?