extends ./layout

block content
  div.row
    div.small-12.column
      h2 Update details
      div#Update_result.alert-box.success.hide
      div.row
        div.medium-6.column
          form#Email_Update
            div.row.collapse
              div.small-8.column
                  input#Email(name='email' type='email' required placeholder='Email' value='#{profile.email}')
              div.small-4.column
                button.button.postfix Save

        div.medium-6.column
          form#Password_Update
            div.row
              div.small-12.column
                input(name='old_password' type='password' required placeholder='Current password')
            div.row.collapse
              div.small-8.column
                input(name='password' type='password' required placeholder='New password')
              div.small-4.column
                button.button.postfix Save
    div.small-12.column
      a.button.tiny(href="/account") Back to my account

  script(type='text/javascript').
    $(document).ready(function() {
      $('#Email_Update').find('input').blur(function() {
        var name = $(this).attr('name');
        var value = $(this).val();
        var $el = $(this);
        $.ajax({
          type: 'GET',
          url: '/account/settings/check-' + name,
          data: {
            value: value
          },
        })
        .done(function(data) {
          if(data.errors.length > 0) {
            showErrors($('#Email_Update'), data.errors);
          }
          else {
            $el.closest('.error').removeClass('error');
            $el.siblings('.error').remove();
          }
        });
      });

      $('#Email_Update').on('submit', function(event) {
        event.preventDefault();
        data = formToJSON($(this));
        console.log(data);
        $.ajax({
          type: 'POST',
          url: '/account/settings',
          data: {
            data: data
          }
        })
        .done(function(data) {
          if(data.errors.length == 0) {
            $('#Update_result').text('Your email has been updated.');
            $('#Update_result').show();
            $('#Email_Update').find('.column.error').removeClass('error');
            $('#Email_Update').find('.error').remove();
          }
          else{
            showErrors($('#Email_Update'), data.errors);
          }
        });
      });

      $('#Password_Update').on('submit', function(event) {
        event.preventDefault();
        data = formToJSON($(this));
        $.ajax({
          type: 'POST',
          url: '/account/settings',
          data: {
            data: data
          }
        })
        .done(function(data) {
          if(data.errors.length == 0) {
            $('#Update_result').text('Your password has been updated.');
            $('#Update_result').show();
            $('#Password_Update').find('.column.error').removeClass('error');
            $('#Password_Update').find('.error').remove();

          }
          else{
            showErrors($('#Password_Update'), data.errors);
          }
        });

      });
    });