extends ./layout

//- block head
//-   script(src="gen_validatorv4.js")

block content
  div.row
    div.small-12.column
      h1 Signup
      form#Submit(action='/signup')
        div.row
          div.small-12.column
            input#Username(type='text' name='username' required placeholder='Enter a username')
            div#UserAvailability
        div.row
          div.small-12.column
            input#Email(type='email' name='email' required placeholder='Enter your email')
            div#EmailAvailability
        div.row
          div.small-12.column
            input#Password(type='password' name='password' required placeholder='Enter your password')
        div.row
          div.small-12.column
            button.btn(id='Submit') Submit

  script(type='text/javascript'). 
    $(document).ready(function() {
      $('#Username').blur(function() {
        var username = $(this).val();
        if (username == '') {
          $("UserAvailability").html("");
        } else {
          $.ajax({
            type: 'GET',
            url: '/signup/userchecker',
            data: {
              username: username
            },
            success: function(data) {
              // TODO if data returns true green tick else red cross
              $('#UserAvailability').text(data);
            },
            error: function(e) {
              console.log(e.message);
            }
          });
        }
        return false;
      });
      $('#Email').blur(function() {
        var email = $(this).val();
        if (email == '') {
          $("EmailAvailability").html("");
        } else {
          $.ajax({
            type: 'GET',
            url: '/signup/emailchecker',
            data: {
              email: email
            },
            success: function(data) {
              // TODO if data returns true green tick else red cross
              $('#EmailAvailability').text(data);
            },
            error: function(e) {
              console.log(e.message);
            }
          });
        }
        return false;
      });
      $('form').on('submit', function(event) {
        event.preventDefault();
        var formdata = $(this).serializeArray();
        var data = {};
        $(formdata ).each(function(index, obj){
          data[obj.name] = obj.value;
        });
        console.log(formdata);
        console.log(data);
        return false;
        $.ajax({
          type: 'POST',
          url: '/signup',
          data: {
            data: data
          },
          success: function(data) {
            // TODO display error message
          },
          error: function(e) {

          }
        });
      });
    });