extends ./layout

block content
  div.row
    div.small-12.column
      h1 Sign Up
      form#Sign_up
        div.row
          div.small-12.column
            input#Username(name='username' type='text' required placeholder='Username')
        div.row
          div.small-12.column
            input#Password(name='password' type='password' required placeholder='Password')
        div.row
          div.small-12.column
            input#Email(name='email' type='email' required placeholder='Email')
        div.row
          div.small-12.column
            button.small Submit

  script(type='text/javascript').
    $(document).ready(function() {
      $('#Sign_up').find('input').blur(function() {
        var name = $(this).attr('name');
        var value = $(this).val();
        var $el = $(this);

        $.ajax({
          type: 'GET',
          url: '/signup/check-' + name,
          data: {
            value: value
          },
        })
        .done(function(data) {
          if(data.errors.length > 0) {
            showErrors($('#Sign_up'), data.errors);
          }
          else {
            $el.closest('.error').removeClass('error');
            $el.siblings('.error').remove();
          }
        });
      });

      $('#Sign_up').on('submit', function(event) {
        event.preventDefault();

        data = formToJSON($(this));

        $.ajax({
          type: 'POST',
          url: '/signup',
          data: {
            data: data
          }
        })
        .done(function(data) {
          if(data.errors.length == 0) {
            window.location.href = '/account';
          }
          else{
            showErrors($('#Sign_up'), data.errors);
          }
        });

      });
    });