extends layout

block content
  h1 Socket.io Test
  ul(id='Messages', style='height: 300px; list-style: none; overflow-y: auto; padding: 0;')
  form
    input(id='Message')
    button Send

  script(src='https://cdn.socket.io/socket.io-1.3.5.js')
  script(type='text/javascript').
    var socket = io();
    $('form').submit(function(){
      socket.emit('chat message', $('#Message').val());
      $('#Message').val('');
      return false;
    });

    socket.on('chat message', function(msg){
      $('#Messages').append($('<li>').text(msg));
    });