body {
  padding: 40px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.poker__players--active {
  color: green;
  font-weight: 700;
}
.poker__players--folded {
  text-decoration: line-through;
}
#Bet:before {
  content: 'Bet ';
}
#Bet.raise:before {
  content: 'Raise to ';
}